@model IEnumerable<StandByClientes.Entidades.Cliente>

<div id="divClientes">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Razao_Social)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Fundacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarentena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Razao_Social)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Fundacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capital)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quarentena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status_Cliente)
                </td>
                <td id="classificacao">
                    @Html.DisplayFor(modelItem => item.Classificacao)
                </td>
                <td>
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a type="button" class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>