@model IEnumerable<StandByClientes.Entidades.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

</p>

<p>

    @using (Html.BeginForm("Index", "Clientes", FormMethod.Get))
    {
        <label>@Html.RadioButton("Ativo", true)Ativo</label>;
        <label>@Html.RadioButton("Ativo", false, new { Checked = true })Inativo</label>;
        <label> @Html.TextBox("razaoSocial") Razão Social </label>
        <label> @Html.TextBox("cnpj") CNPJ </label>
        <input type="submit" value="Pesquisar" />;
    }
</p>

@Html.Partial("Clientes", Model)

<script type="text/javascript" src="/js/Clientes/Index.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>




