@model IEnumerable<StandByClientes.Entidades.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo</a><p>
<p>
    @using (Html.BeginForm("Index", "Clientes", FormMethod.Get))
    {
        <label>@Html.RadioButton("Ativo",1)Ativo</label>;
        <label>@Html.RadioButton("Ativo",-1)Inativo</label>;
        <label> @Html.TextBox("razaoSocial") Razão Social </label>
        <label> @Html.TextBox("cnpj") CNPJ </label>
        <input type="submit" value="Pesquisar" />;
    }
</p>

@Html.Partial("_Clientes", Model)

<script type="text/javascript" src="/js/Clientes/Index.js"/>
